{% extends 'base.html.twig' %}

{% block title %}Hello VehiculeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


    <h1> Liste des véhicules </h1>


<table class="table table-hover">
   
    <tr class="table-dark">
      <td> Libelle</td>
      <td>Immatriculation</td>
      <td>Prix </td>
      <td>anneeMiseEnCirculation </td>
      <td>Kilométrage </td>
      <td>Est-il disponible ? </td>
      <td> Modifier le véhicule </td>
      <td> Supprimer le véhicule </td>
    </tr>
    {% for vehicule in vehicules %} 
        <tr class="table-secondary">
             <td> {{ vehicule.libelle }}</td>
             <td>  {{ vehicule.immatriculation }}  </td>
             <td> {{ vehicule.prix }} €  </td>
             <td> {{ vehicule.anneeMiseEnCirculation }} </td>
             <td> {{ vehicule.kms }} km </td>
            {% if vehicule.estDisponible  == 1 %}
                <td> Oui </td>
            {% else %}
                <td> Non </td>
            {% endif %}
            <td> <button class="btn btn-primary" > <a href="/vehicule/edit/{{ vehicule.id }}" style="text-decoration: none;"> Modifier </a> </button> </td>
             <td> 
                    <button class="btn btn-danger">
                    <a href="/vehicule/delete/{{ vehicule.id }}" style="text-decoration: none;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                    </a>
                    </button>
             </td>

        </tr>    
    {% endfor %}

</table>
{% endblock %}




