<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
       <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
            
            {% block stylesheets %}
                  {{ encore_entry_link_tags('app') }}
            {% endblock %}

            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}

                <!-- Renders app.js & a webpack runtime.js file
                    <script src="/build/runtime.js" defer></script>
                    <script src="/build/app.js" defer></script>
                    See note below about the "defer" attribute -->
            {% endblock %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

            {# {{ encore_entry_link_tags('app') }}
            {{ encore_entry_script_tags('app') | replace('src=', 'defer src=') | raw}} #}     
    </head>
       

     
   
    <body>

<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Garage Vincent Parrot</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('main') }}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_vehicule_utilisateur') }}">Vente</a>
            </li>
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contact_create') }}">Contact</a>
                </li>
            {% endif %}
            
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_admin') }}">Espace admin</a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_EMPLOYEE') %}
              <li class="nav-item">
                  <a class="nav-link" href="{{ path('app_employe') }}">Espace employe</a>
              </li>
            {% endif %}
           
        </ul>
        <form class="d-flex">
          {% if is_granted('ROLE_USER') %}
                  <button class="form-control me-sm-2" > <a href="{{ path('app_logout') }}"> Se déconnecter </a>  </button>
          {% else %}
                    <button class="form-control me-sm-2" > <a href="{{ path('app_login') }}"> Se connecter </a>  </button>
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit" > <a href="{{ path('app_register') }}"> S'inscrire </a></button>
          {% endif %}
        </form>

        </div>
    </div>
</nav>
        <div class="container">
            {% block body %}
            
            {% endblock %}
         </div>

         <!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5 d-flex flex-column min-vh-100">

  <!-- Footer -->
  <footer class="mt-auto"
          class="text-center text-lg-start text-white"
          style="background-color: #1c2331"
          >
    <!-- Section: Social media -->
    <section
             class="d-flex justify-content-between p-4"
             style="background-color: ##375a7f"
             >
      <!-- Left -->
      <div class="me-5">
        <h2>Infos pratiques </h2>
      </div>
      <!-- Left -->

      <!-- Right -->
     
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">Horaires d'ouverture du garage :</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
           
                <p> Du lundi au vendredi : 08 :45 – 12 :00, 14 :00 - 18 :00</p>
                <p> Samedi : 08 :45 – 12 :00</p>
                <p> Dimanche : fermé </p>
               
               {% if etat.isOpen == true %}
                  <p>> Le garage est actuellement ouvert. </p>
                {% else %}
                  <p> Le garage est actuellement fermé. </p>
                {% endif %} 

           
          </div>
          <!-- Grid column -->
         
          
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>Adresse : 11 rue d'Arles, 31500 Toulouse</p>
            <p>E-mail : garagevincentparrot@gmail.com</p>
            <p> Tél : 04 50 87 64 55</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/"
         >MDBootstrap.com</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

</div>
<!-- End of .container -->
    </body>
</html>
